.TopIntroduction
  - if @user.icon?
    = image_tag @user.icon.url, class: "user-circle"
  - else
    = icon("fas", "user", class: "user-circle")
  .TopIntroduction__inner
    %p.user-name
      = @user.nickname
    %p.user-introduction
      - if @user.introduction.present?
        = @user.introduction
      - else
        最高のエンターテイメントを提供します。
  
  .Edit-link-area
    %button.Edit-link-btn
      プロフィール編集
  
%label#nav-user-edit-close
%nav.profile-nav
  %ul
    %li
      = link_to edit_user_path(@user.id), class: "profile-edit-link" do
        = icon("fas", "edit", class: "profile-edit-icon")
        .Edit-heading
          %p.Edit-heading__above
            プロフィールを編集
          %p.Edit-heading__under
            名前や得意ジャンル、紹介文を編集出来ます
    %li
      = link_to icon_user_path(@user.id), class: "profile-edit-link" do
        = icon("fas", "smile-wink", class: "profile-edit-icon")
        .Edit-heading
          %p.Edit-heading__above
            アイコン編集
          %p.Edit-heading__under
            お好きなアイコン画像に変更できます
    %li
      = link_to destroy_user_session_path, method: :delete, class: "profile-edit-link" do
        = icon("fas", "sign-out-alt", class: "profile-edit-icon")
        .Edit-heading
          %p.Edit-heading__above
            ログアウト
          %p.Edit-heading__under
            またのご利用をお待ちしております
  


#js-tab.Tab-Area
  .tab-nav
    = link_to "#", class: "tab-nav-item is-active", data: {nav: '0'} do
      主催イベント
    = link_to "#", class: "tab-nav-item", data: {nav: '1'} do
      参加イベント
    - if @favorite_events.present?
      = link_to "#", class: "tab-nav-item", data: {nav: '2'} do
        保存したイベント
  .tab-contents
    .tab-contents__item{ data: {content: '0' } }
      = render partial: "modules/host-event"
    .tab-contents__item{ data: {content: '1' } }
      = render partial: "modules/join-event"
    .tab-contents__item{ data: {content: '2' } }
      = render partial: "modules/favorite-event"