.Comment-Field
  - if user_signed_in?
    = form_with(model: [@event, @comment], local: true, class: "comment-form") do |f|
      = f.label :comment, "コメント", class: "comment-label"
      = f.text_area :comment, class: "comment-area"
      = f.submit "送信", class: "comment-btn"
    
    %h3.comment-heading
      コメント一覧

    - if @comments
      .Comment-view
        - @comments.each do |comment|
          = link_to user_path(comment.user_id), class: "comment-user-link" do
            - if comment.user.icon.present?
              = image_tag comment.user.icon.url, class: "user-icon"
            - else
              = icon("fas", "user", class: "default-icon")
            %p.comment-username
              = comment.user.nickname
            %p.comment-created_time
              = comment.created_at.strftime('%m月%d日%H時%M分')
          %p.comment-content
            = comment.comment
    - else
      %p
        イベントについての質問や疑問などを投稿してみましょう。
  - else
    %p
      コメントの投稿にはログインが必要です。