#js-tab.Tab-Area
  .tab-nav
    = link_to "#", class: "tab-nav-item is-active", data: {nav: '0'} do
      詳細
    = link_to "#", class: "tab-nav-item", data: {nav: '1'} do
      参加者
    = link_to "#", class: "tab-nav-item", data: {nav: '2'} do
      コメント
  .tab-contents
    .tab-contents__item{ data: {content: '0' } }
      .top-Info
        .top-Info__date
          = icon('fas', 'clock', class: 'clock-icon')
          %h2.date
            = @event.datetime.strftime("%Y年%-m月%-d日")
        .top-Info__place
          = icon('fas', 'map-marker-alt', class: 'map-icon')
          %h2.place
            = @event.place
      .main-Info
        %h2.heading
          イベント詳細
        .main-Info__detail
          = @event.detail
      .event-entry-area
        - if @event.recruiter_id == current_user.id
          %h1.eventOwner 
            あなたはイベント作成者です。
        - elsif @event.entries.where(user_id: current_user.id).exists?
          %h1.eventOwner 
            このイベントは申し込み済みです。
        - else
          = link_to "イベントに申し込む", event_entries_path(@event), class: "entry-btn", id: "JoinEvent", method: :post
    .tab-contents__item{ data: {content: '1' } }
      タブその1
    .tab-contents__item{ data: {content: '2' } }
      タブその2
