.EventField
  .Recommended-Field
    %h1.Recommended-Field__heading
      注目のイベント
    %div#slide
      %ul
        - @recommended_events.each do |popular|
          %li
            = link_to event_path(popular.id), class: "popular-link" do
              .event-image-area
                - if popular.prefecture == "北海道"
                  = image_tag asset_path("hokkaido.jpg"), class: "event-image"
                - elsif popular.prefecture == "青森県"
                  = image_tag asset_path("aomori.jpg"), class: "event-image"
                - elsif popular.prefecture == "秋田県"
                  = image_tag "akita.jpg", class: "event-image"
                - elsif popular.prefecture == "山形県"
                  = image_tag "yamagata.jpg", class: "event-image"
                - elsif popular.prefecture == "岩手県"
                  = image_tag "iwate.jpg", class: "event-image"
                - elsif popular.prefecture == "宮城県"
                  = image_tag "miyagi.jpg", class: "event-image"
                - elsif popular.prefecture == "福島県"
                  = image_tag "hukushima.jpg", class: "event-image"
                - elsif popular.prefecture == "東京都"
                  = image_tag "tokyo.jpg", class: "event-image"
                - elsif popular.prefecture == "栃木県"
                  = image_tag "tochigi.jpg", class: "event-image"
                - elsif popular.prefecture == "茨城県"
                  = image_tag "ibaraki.jpg", class: "event-image"
                - elsif popular.prefecture == "神奈川県"
                  = image_tag "kanagawa.jpeg", class: "event-image"
                - elsif popular.prefecture == "千葉県"
                  = image_tag "chiba.jpg", class: "event-image"
                - elsif popular.prefecture == "群馬県"
                  = image_tag "gunnma.jpg", class: "event-image"
                - elsif popular.prefecture == "埼玉県"
                  = image_tag "saitama.jpg", class: "event-image"
                - elsif popular.prefecture == "新潟県"
                  = image_tag "niigata.jpg", class: "event-image"
                - elsif popular.prefecture == "富山県"
                  = image_tag "toyama.jpg", class: "event-image"
                - elsif popular.prefecture == "石川県"
                  = image_tag "ishikawa.jpg", class: "event-image"
                - elsif popular.prefecture == "福井県"
                  = image_tag "hukui.jpg", class: "event-image"
                - elsif popular.prefecture == "長野県"
                  = image_tag "nagano.jpg", class: "event-image"
                - elsif popular.prefecture == "岐阜県"
                  = image_tag "gihu.jpg", class: "event-image"
                - elsif popular.prefecture == "山梨県"
                  = image_tag "yamanashi.jpg", class: "event-image"
                - elsif popular.prefecture == "静岡県"
                  = image_tag "shizuoka.jpg", class: "event-image"
                - elsif popular.prefecture == "愛知県"
                  = image_tag "aichi.jpg", class: "event-image"
                - elsif popular.prefecture == "愛知県"
                  = image_tag "aichi.jpg", class: "event-image"
                - elsif popular.prefecture == "滋賀県"
                  = image_tag "shiga.jpg", class: "event-image"
                - elsif popular.prefecture == "京都府"
                  = image_tag "kyoto.jpg", class: "event-image"
                - elsif popular.prefecture == "大阪府"
                  = image_tag "oosaka.jpg", class: "event-image"
                - elsif popular.prefecture == "兵庫県"
                  = image_tag "hyougo.jpg", class: "event-image"
                - elsif popular.prefecture == "和歌山県"
                  = image_tag "wakayakma.jpg", class: "event-image"
                - elsif popular.prefecture == "奈良県"
                  = image_tag "nara.jpg", class: "event-image"
                - elsif popular.prefecture == "三重県"
                  = image_tag "mie.jpg", class: "event-image"
                

                %p.event-name
                  = popular.event_name
              .event-detail-outline
                .event-prefecture
                  = "イベント開催地  #{popular.prefecture}"
                .event-datetime
                  = "イベント開催日    #{popular.start_time.strftime("%Y年%-m月%-d日")}"
                .event-host-area
                  - if popular.recruiter.icon.present?
                    = image_tag popular.recruiter.icon.url, class: "recruiter-icon"
                  - else
                    = icon("fas", "user", class: "default-icon")
                  %p.host-name
                    = "主催者 #{popular.recruiter.nickname}"
                .event-tag
                  = "##{popular.tag_list}"
                %p.entry-count
                  = "#{popular.entries.count}人がイベントに申し込んでいます"
            -# %button#preBtn
            -#   = icon("fas", "chevron-left")
            -# %button#nexBtn
            -#   = icon("fas", "chevron-right")
  .search-area
    = search_form_for @search, url: search_events_path do |f|
      = f.text_field :event_name_cont, placeholder: 'フリーワード', class: "search-form" do
        = icon("fas", "user", class: 'search-icon')
      = f.submit ("イベントを検索") , class: 'search-btn', class: "search-btn"
  
  .tag-field
    .tag-field__section
      %p.tag-word
        ジャンルで検索
      - @tags1.each do |genre|
        = link_to "##{genre.name}(#{genre.taggings_count})", events_path(tag_name: genre.name), class: "tag-link"
    .tag-field__section
      %p.tag-word
        開催場所で検索
      - @tags2.each do |prefecture|
        = link_to "##{prefecture.name}(#{prefecture.taggings_count})", events_path(tag_name: prefecture.name), class: "tag-link"
    .tag-field__section
      %p.tag-word
        報酬金額で検索
      - @tags3.each do |reward|
        = link_to "##{reward.name}(#{reward.taggings_count})", events_path(tag_name: reward.name), class: "tag-link"
    .tag-field__section
      %p.tag-word
        おすすめキーワード
      - @tags4.each do |recommend|
        = link_to "##{recommend.name}(#{recommend.taggings_count})", events_path(tag_name: recommend.name), class: "tag-link"

  - if @events.present?
    %h1.event-heading
      イベント一覧
    .EventField__outline
      - @events.each do |event|
        = link_to(event_path(event.id), class: "event-show-btn") do
          .EventInfo
            .EventInfo__prefecture
              = event.prefecture
            .EventInfo__main
              %p.event-name
                = event.event_name
              %p.event-datetime 
                = event.start_time.strftime("%Y年%m月%d日 %H:%M").to_s + "~"
              .EventHost--Area
                %p.host
                  主催者：
                %p.host-name  
                  = event.recruiter.nickname
            .half
            -# - if user_signed_in? && current_user.id == event.recruiter_id
            -#   .limited
            -#     = link_to "削除する", event_path(event.id), method: :delete, class: "event-delete-link"
            -#     = link_to "編集する", edit_event_path(event.id), method: :get, class: "event-edit-link"
                
      .pagination-area
        = paginate @events