#js-tab.Tab-Area
  .tab-nav
    = link_to "#", class: "tab-nav-item is-active", data: {nav: '0'} do
      詳細
    = link_to "#", class: "tab-nav-item", data: {nav: '1'} do
      参加者
    = link_to "#", class: "tab-nav-item", data: {nav: '2'} do
      コメント
  .tab-contents
    .tab-contents__item{ data: {content: '0' } }
      .Event-show-area
        .top-Info
          .top-Info__date
            = icon('fas', 'clock', class: 'clock-icon')
            %h2.date
              = @event.start_time.strftime("%Y年%m月%d日 %H:%M").to_s + "~"
          .top-Info__place
            = icon('fas', 'map-marker-alt', class: 'map-icon')
            %h2.place
              = @event.place
        .main-Info
          %h2.heading
            イベント詳細
          .main-Info__detail
            = @event.detail
        .event-entry-area
          - if user_signed_in?
            - if @event.recruiter_id == current_user.id
              %h1.eventOwner 
                あなたはイベント作成者です。
            - elsif @event.entries.where(user_id: current_user.id).exists?
              %h1.eventOwner 
                このイベントは申し込み済みです
            - else
              = link_to "イベントに申し込む", event_entries_path(@event), class: "entry-btn", id: "js-JoinEvent", method: :post
          - else
            .limit
              申込みにはログインが必要です。

            %label.js-modal-bg
            .modal-content
              %h1.protocol-1
                申し込み規約
              %h2.protocol-2
                注意事項・禁止事項等
              %p 
                ・荒天・地震・事件・事故・新型コロナウイルス感染症等の感染症・疫病流行等、参加者の安全が確保できない可能性がある場合は、本イベントを中止・中断することがあります。
                %br/
                %br/
                ・本イベントを中止する場合は、公式ホームページにてご案内するとともに、お申込者の皆様にはメールでご連絡いたします。
                %br/
                %br/
                ・参加申込者数が定員に達した場合は、それ以降の申込受付を中止する場合があります。
                %br/
                %br/
                ・イベント中の映像・写真・記事等に関するテレビ・新聞・雑誌・インターネット等への掲載権と肖像権はすべて主催者に属します。

              .protocol-btn-area
                = link_to "閉じる", "#", id: "js-modal-close", class: "close-btn"
                = link_to "申し込む", event_entries_path(@event), class: "entry-btn", method: :post

    .tab-contents__item{ data: {content: '1' } }
      = render partial: "modules/event-applicant"
    .tab-contents__item{ data: {content: '2' } }
      = render partial: "modules/event-comment"
