.calender-Field
  .calender-Field__outline
    = month_calendar events: @events do |date, events|
      = date.day

      - events.each do |event|
        = link_to event_path(event.id), class: "calendar-show-link" do
          %p.calendar-text
            = event.prefecture
          %p.calendar-text
            = "【" + event.start_time.strftime('%m月%d日') + "】"
          %p.calendar-text
            = event.event_name