.EventField
  .search-area
    = search_form_for @search, url: search_events_path do |f|
      = f.text_field :event_name_cont, placeholder: 'フリーワード', class: "search-form" do
        = icon("fas", "user", class: 'search-icon')
      = f.submit ("イベントを検索") , class: 'search-btn', class: "search-btn"
  
  .tag-field
    .tag-field__section
      %p.tag-word
        ジャンルで検索
      - @tags1.each do |genre|
        = link_to "#{genre.name}(#{genre.taggings_count})", events_path(tag_name: genre.name), class: "tag-link"
    .tag-field__section
      %p.tag-word
        開催場所で検索
      - @tags2.each do |prefecture|
        = link_to "#{prefecture.name}(#{prefecture.taggings_count})", events_path(tag_name: prefecture.name), class: "tag-link"
    .tag-field__section
      %p.tag-word
        報酬金額で検索
      - @tags3.each do |reward|
        = link_to "#{reward.name}(#{reward.taggings_count})", events_path(tag_name: reward.name), class: "tag-link"
    .tag-field__section
      %p.tag-word
        おすすめキーワード
      - @tags4.each do |recommend|
        = link_to "#{recommend.name}(#{recommend.taggings_count})", events_path(tag_name: recommend.name), class: "tag-link"

  - if @events.present?
    .EventField__outline
      - @events.each do |event|
        = link_to(event_path(event.id), class: "event-show-btn") do
          .EventInfo
            .EventInfo__prefecture  
              = event.prefecture
            .EventInfo__main
              %p.event-name
                = event.event_name
              .EventHost--Area
                %p.host
                  主催者：
                %p.host-name
                  = event.recruiter.nickname
              %p.enter-judge
                申し込み可能です！
      .pagination-area
        = paginate @events
  %p
    おはよう
  %p
    ohayou 
  %p
    おはよう
  %p
    tet
  %p
    test
  %p
    test
  