%header.header
  #nav-drawer
  %input#nav-input.nav-unshown{type: "checkbox"}/
  %label#nav-open{for: "nav-input"}
    %span
  %label#nav-close.nav-unshown{for: "nav-input"}
  #nav-content 
    .User-info
      - if user_signed_in?
        - if @user.icon.present?
          = image_tag @user.icon.url, class: "user-icon"
        - else
          = icon("fas", "user", class: "user-icon")
        %p.user-name
          = @user.nickname
      
    %ul.user-nav
      - if user_signed_in?
        %li.user-nav__item
          = icon("fas", "user", class: "info-icon")
          = link_to "プロフィール", user_path(current_user), class: "profile-link"
        %li.user-nav__item
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link"
      - else
        %li.user-nav__item
          = link_to "ログイン", new_user_session_path, class: "nav-link"
        %li.user-nav__item
          = link_to "新規登録", new_user_registration_path, class: "nav-link"
        %li.user-nav__item
          = link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post, class: "nav-link"

  .header__center
    = icon("fas", "star", class: "application-icon")
    %h2.title
      Entertainer

  .header__right
    %ul.header__right--outer
      %li.inner
        = link_to " イベントを探す", root_path, class: "event-action-btn"
      %li.inner
        = link_to "主催する", new_event_path , class: "event-action-btn"