%header
  .container
    .header-left
      - if user_signed_in?
        %ul
          %li
            = link_to "マイページ", "/users/#{current_user.id}", class: 'ToMypage'
          %li
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'Logout'
      - else
        %ul
          %li
            = link_to "ログイン", new_user_session_path, class: "post"
          %li
            = link_to "新規登録", new_user_registration_path, class: "post"

    .header-center
      = icon("fas", "star", class: "application-icon")
      %h2.title
        Entertainer

    .header-right
      %ul.header-right__outer
        %li.header-right__outer--inner
          = link_to " イベントを探す", "#", class: "event-action-btn"
        %li.header-right__outer--inner
          = link_to "主催する", "#", class: "event-action-btn"


      


