%header
  .container
    .header-left
      %button.user-nav
        - if @user.icon?
          = image_tag @user.icon.url, class: "user-circle"
        - else
          = icon("fas", "user", class: "user-circle")
        %p.user-name
          = @user.nickname

    .header-center
      = icon("fas", "star", class: "application-icon")
      %h2.title
        Entertainer
      
    .header-right
      - if user_signed_in?
        %ul
          %li
            = link_to "マイページ", "/users/#{current_user.id}", class: 'ToMypage'
          %li
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'Logout'
      - else
        %ul
          %li
            = link_to "ログイン", new_user_session_path, class: "post"
          %li
            = link_to "新規登録", new_user_registration_path, class: "post"


