.hostEvent-Field
  - if @hosted_events.present?
    - @hosted_events.each do |event|
      = link_to(event_path(event.id), class: "host-event-link") do
        .host-event-outline
          .event-datetime
            %p.datetime
              = event.start_time.strftime("%Y年%-m月%-d日")
            %p.date-text
              開催
          .event-name
            = event.event_name
          .event-host-area
            - if event.recruiter.icon.present?
              = image_tag event.recruiter.icon.url, class: "recruiter-icon"
            - else
              = icon("fas", "user", class: "user-circle")
            %p.host-text
              主催:
            %p.host-name
              = event.recruiter.nickname
          %p.event-tag
            = "##{event.tag_list}"
  - else
    .default-text
      %p.top-text
        イベントの開催に興味のある方へ
      %p.middle-text
        GameHintでイベントを開催して参加者を募集することが可能です。
        %br/
        イベントを主催してエンターテイメントの世界を盛り上げよう！
      = link_to "イベントを主催する", new_event_path, class: "event-new-link"