.entryEvent-Field
  - if @entry_events.present?
    - @entry_events.each do |event|
      = link_to(event_path(event.id), class: "entry-event-link") do
        .entry-event-outline
          .event-datetime
            %p.datetime
              = event.start_time.strftime("%Y年%m月%d日 %H:%M").to_s + "~"
            %p.date-text
              開催
          .event-name
            = event.event_name
          .event-host-area
            - if event.recruiter.icon.present?
              = image_tag event.recruiter.icon.url, class: "recruiter-icon"
            - else
              = icon("fas", "user", class: "user-circle")
            %p.host-text
              主催:
            %p.host-name
              = event.recruiter.nickname
          %p.event-tag
            = event.tag_list
  - else
    .default-text
      %p.top-text
        イベントに参加してみよう！
      %p.middle-text
        まだイベントに参加した記録がないようです。
        %br/
        Entertainerを使って開催されたイベントに参加申請を行うと、こちらにリストアップされます。
        %br/
        興味のあるイベントを見つけて参加してみよう！
      = link_to "イベントを探す", events_path, class: "event-index-link"


    