.wrap-video
  .text
    %h1
      %span.typed
        Entertainer.
  = video_tag ("/videos/top-image.mp4"), playsinline: true, controls: false, autoplay: true, loop: true, muted: true, class: "top-movie"

#js-tab.Tab-Area
  .tab-nav
    = link_to "#", class: "tab-nav-item is-active", data: {nav: '0'} do
      イベント一覧
    = link_to "#", class: "tab-nav-item", data: {nav: '1'} do
      主催者一覧
    = link_to "#", class: "tab-nav-item", data: {nav: '2'} do
      カレンダー
    / タブA 表示内容
  .tab-contents
    .tab-contents__item{ data: {content: '0' } }
      = render partial: "modules/event-index"
    .tab-contents__item{ data: {content: '1' } }
      = render partial: "modules/user-index"
    .tab-contents__item{ data: {content: '2' } }
      = render partial: "modules/event-calender"