.wrap-video
  .text
    %h1
      %span.typed
        Entertainer.
    -# %h3
    -#   "ダンス"でつなぐプラットフォームサービス。
    -#   %br/
    -#   活躍の場を広げよう。
      
  = video_tag ("/videos/top-image.mp4"), playsinline: true, controls: false, autoplay: true, loop: true, muted: true, class: "top-movie"
  
.Explanation-area
  .Main-Title
    Entertainerはダンサーの活躍の場を広げるための
    %br/
    プラットフォームサービスです。
  .Sub-Title
    個人や企業問わず、イベントの主催やナンバーの募集をこのサービスを通じて行えます。
    %br/
    ダンサーは数あるイベントの中から自分に合ったイベントに応募し参加することが出来ます。
  

#js-tab.Tab-Area
  .tab-nav
    = link_to "#", class: "tab-nav-item is-active", data: {nav: '0'} do
      イベント一覧
    = link_to "#", class: "tab-nav-item ", data: {nav: '1'} do
      主催者一覧
    = link_to "#", class: "tab-nav-item ", data: {nav: '2'} do
      カレンダー
  .tab-contents
    .tab-contents__item{ data: {content: '0' } }
      = render partial: "modules/event-index"
    .tab-contents__item{ data: {content: '1' } }
      = render partial: "modules/user-index"
    .tab-contents__item{ data: {content: '2' } }
      = render partial: "modules/event-calender"