.CreateEventField
  .CreateEventField__outline
    = form_with(model: @event, local: true, id: "new-event") do |f|
      .top-area
        .create-item-1
          = f.label :event_name, "イベント名", class: "Form-label"
          = f.text_field :event_name,  maxlength: "20", class: "name-field"

      .middle-area
        .create-item-2
          = f.label :datetime, "開催日時", class: "Form-label"
          = f.date_field :datetime, class: 'form-control', class: "middle-field"

        .create-item-2
          = f.label :reward, "報酬", class: "Form-label"
          = f.number_field :reward, autofocus: true, min: 5000, max: 100000, class: "middle-field"

      .bottom-area
        .create-item-3
          = f.label :prefecture, "開催場所", class: "Form-label"
          = f.select :prefecture, Event.prefectures.keys, {}, class: "prefecture-field"
      
        .create-item-4
          = f.label :detail, "イベント詳細説明", class: "Form-label"
          = f.text_area :detail, autofocus: true, autocomplete: "detail", class: "detail-area"
      
      .create-btn-field
        = f.submit "作成", class: "create-btn"
      