.wrap-video
  .text
    %h1
      %span.typed
        Entertainer.
  = video_tag "/assets/videos/top-image.mp4", playsinline: true, controls: false, autoplay: true, loop: true, muted: true, class: "top-movie"

#js-tab.Tab-Area
  .tab-nav
    = link_to "#", class: "tab-nav-item is-active", data: {nav: '0'} do
      イベント一覧
    = link_to "#", class: "tab-nav-item", data: {nav: '1'} do
      主催者一覧
    = link_to "#", class: "tab-nav-item", data: {nav: '2'} do
      コメント
    / タブA 表示内容
  .tab-contents
    .tab-contents__item{ data: {content: '0' } }
      .EventField
        .Recommended-Field
          %h1.Recommended-Field__heading
            注目のイベント
          %div#slide
            %ul
              - @recommended_events.each do |popular|
                %li
                  = link_to event_path(popular.id), class: "popular-link" do
                    .event-image-area
                      - if popular.prefecture == "東京都"
                        = image_tag "tokyo.jpg", class: "event-image"  
                      - elsif popular.prefecture == "神奈川県"
                        = image_tag "kanagawa.jpeg", class: "event-image"
                      - elsif popular.prefecture == "千葉県"
                        = image_tag "chiba.jpg", class: "event-image" 
                      - elsif popular.prefecture == "埼玉県"
                        = image_tag "saitama.jpg", class: "event-image"  
                      %p.event-name
                        = popular.event_name
                    .event-detail-outline
                      .event-prefecture
                        = "イベント開催地  #{popular.prefecture}"
                      .event-datetime
                        = "イベント開催日    #{popular.start_time.strftime("%Y年%-m月%-d日")}"
                      .event-host-area
                        - if popular.recruiter.icon.present?
                          = image_tag popular.recruiter.icon.url, class: "recruiter-icon"
                        - else
                          = icon("fas", "user", class: "default-icon")
                        %p.host-name
                          = "主催者 #{popular.recruiter.nickname}"
                      .event-tag
                        = "##{popular.tag_list}"
                      %p.entry-count
                        = "#{popular.entries.count}人がイベントに申し込んでいます"
                  -# %button#preBtn
                  -#   = icon("fas", "chevron-left")
                  -# %button#nexBtn
                  -#   = icon("fas", "chevron-right")
        .search-area
          = search_form_for @search, url: search_events_path do |f|
            = f.text_field :event_name_cont, placeholder: 'フリーワードで検索', class: "search-form" do
              = icon("fas", "user", class: 'search-icon')
            = f.submit ("イベントを検索") , class: 'search-btn', class: "search-btn"
        
        .tag-field
          .tag-field__section
            %p.tag-word
              ジャンルで検索
            - @tags1.each do |genre|
              = link_to "#{genre.name}(#{genre.taggings_count})", events_path(tag_name: genre.name), class: "tag-link"
          .tag-field__section
            %p.tag-word
              開催場所で検索
            - @tags2.each do |prefecture|
              = link_to "#{prefecture.name}(#{prefecture.taggings_count})", events_path(tag_name: prefecture.name), class: "tag-link"
          .tag-field__section
            %p.tag-word
              報酬金額で検索
            - @tags3.each do |reward|
              = link_to "#{reward.name}(#{reward.taggings_count})", events_path(tag_name: reward.name), class: "tag-link"
          .tag-field__section
            %p.tag-word
              おすすめキーワード
            - @tags4.each do |recommend|
              = link_to "#{recommend.name}(#{recommend.taggings_count})", events_path(tag_name: recommend.name), class: "tag-link"
              
        .EventField__outline
          // 検索キーワードなし: 空白だとスペースを入れいてるname全部がヒットしてしまうため
          - if params[:q]['genre_cont'] == ""
            %p.search-result
              = "検索キーワードがありません。"
            // 検索結果ありの場合
          - elsif @search_events.present? 
            %p.search-result
              = "全#{@events.count}件中#{@search_events.count}件の表示"
            // 検索数0の場合
          - else
            %p.search-result
              = "検索に一致するイベントはありませんでした"    
      
          - @search_events.each do |event|
            = link_to(event_path(event.id), class: "event-show-btn") do
              .EventInfo
                .EventInfo__prefecture
                  = event.prefecture
                .EventInfo__main
                  %p.event-name
                    = event.event_name
                  .EventHost--Area
                    %p.host
                      主催者：
                    %p.host-name
                      = event.recruiter.nickname
                  %p.enter-judge
                    申し込み可能です！
          .pagination-area
            = paginate @search_events
    .tab-contents__item{ data: {content: '1' } }
      タブその2
    .tab-contents__item{ data: {content: '2' } }
      タブその3