.ShowEventField
  .ShowEventField__outline
    .EventHostArea
      %p.host
        主催者
      - if @recruiter.icon.present?
        = image_tag @recruiter.icon.url, class: "recruiter-icon"
      - else
        = icon("fas", "user", class: "user-icon")
      %p.recruiter-name
        = @recruiter.nickname

      %div{:id => "favorites_buttons_#{@event.id}"}
        = render partial: 'modules/favorite'

    .EventImageArea
      .EventImageArea__info
        .EventImageArea__info--date
          = @event.start_time.strftime("%Y年%m月%d日 %H:%M").to_s + "~"
        .EventImageArea__info--name
          = @event.event_name
    = render partial: "modules/event-show-tab"
        


    
