.ShowEventField
  .ShowEventField__outline
    .EventHostArea
      %p.host
        主催者
      - if @recruiter.icon.present?
        = image_tag @recruiter.icon.url, class: "recruiter-icon"
      - else
        = icon("fas", "user", class: "user-icon")
      %p.recruiter-name
        = @recruiter.nickname

      .favorite-area
        - if @event.favorited_by?(current_user)
          %p.favorite-heading
            保存をキャンセル
          = link_to event_favorites_path(@event), method: :delete, local: true, class: "favorite-link" do
            = icon("fas", "star", class: "favorite-icon")
        - else
          %p.favorite-heading
            イベントを保存
          = link_to event_favorites_path(@event), method: :post, local: true, class: "favorite-link" do
            = icon("far", "star", class: "favorite-icon")

    .EventImageArea
      - if @event.prefecture == "東京都"
        = image_tag "tokyo.jpg", class: "event-image"
      - elsif @event.prefecture == "神奈川県"
        = image_tag "kanagawa.jpeg", class: "event-image"
      - elsif @event.prefecture == "千葉県"
        = image_tag "chiba.jpg", class: "event-image"
      - elsif @event.prefecture == "埼玉県"
        = image_tag "saitama.jpg", class: "event-image"
      .EventImageArea__info
        .EventImageArea__info--date
          = @event.start_time.strftime("%Y年%m月%d日 %H:%M").to_s + "~"
        .EventImageArea__info--name
          = @event.event_name
    = render partial: "modules/event-show-tab"