.ShowEventField
  .ShowEventField__outline
    .EventHostArea
      %p.host
        主催者
      - if @recruiter.icon.present?
        = image_tag @recruiter.icon.url, class: "recruiter-icon"
      - else
        = icon("fas", "user", class: "user-icon")
      %p.recruiter-name
        = @recruiter.nickname

      .favorite-area
        - if user_signed_in? && current_user.id == @event.recruiter_id
          = link_to "編集する", edit_event_path(@event), method: :get, class: "event-edit-link"
          = link_to "削除する", event_path(@event), method: :delete, class: "event-delete-link"
        - else
          - if user_signed_in?
            .module-favorite
              = render partial: "modules/module-favorite"

    .EventImageArea
      - if @event.prefecture == "東京都"
        = image_tag "tokyo.jpg", class: "event-image"
      - elsif @event.prefecture == "神奈川県"
        = image_tag "kanagawa.jpg", class: "event-image"
      - elsif @event.prefecture == "千葉県"
        = image_tag "chiba.jpg", class: "event-image"
      - elsif @event.prefecture == "埼玉県"
        = image_tag "saitama.jpg", class: "event-image"
      .EventImageArea__info
        .EventImageArea__info--name
          = @event.event_name
    = render partial: "modules/event-show-tab"