.Tag-Event-Field
  .Tag-Event-Field__outline
    %h2.please-tagging
      タグを設定してください
    
    = form_with(model: @event, url: confirm_events_path(@event), local: true, id: "tagging-event") do |f|
      %label.col-sm-12 タグ
      .col-sm-12
        - @tags.each do |tag|
          = f.check_box :tag_list, { multiple: true }, "#{tag.name}", nil
          = f.label " #{tag.name}(#{tag.taggings_count})", class: "label label-default"
          = f.hidden_field :event_name
          = f.hidden_field :datetime
          = f.hidden_field :genre
          = f.hidden_field :prefecture
          = f.hidden_field :place
          = f.hidden_field :detail
      .col-sm-12.text-right
        = f.submit "確認画面へ", class: "btn btn-primary"
        = f.submit "戻る", name: :back, class: "btn btn-secondary"
   