!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "https://use.fontawesome.com/releases/v5.9.0/css/all.css", :rel => "stylesheet"}/
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
    -# %script{:src => "js/slick.min.js", :type => "text/javascript"}
    %title Entertainer
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .Wrapper
      = render partial: 'modules/header'
      = yield
      = render partial: 'modules/footer'

      .Bottom-nav
        %ul.Bottom-nav__outer
          %li.Bottom-nav__outer--inner
            = link_to "#", class: "event-action" do
              = icon("fas", "calendar", class: "event-icon")
            %p イベント一覧
          %li.Bottom-nav__outer--inner
            = link_to "#", class: "event-action" do
              = icon("fas", "wrench", class: "event-icon")
            %p イベント作成


    -# = render partial: "modules/notification"
      -# %p.notice= notice
      -# %p.alert= alert